{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{round_number}}<br>
    Player {{player.id_in_group}}
{% endblock %}

{% block content %}

<head>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src= "{% static 'resource_reproduction/TableFunc1.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'resource_reproduction/TableFunc1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resource_reproduction/style.css' %}">
</head>

<body>
    <p>
        あなたは {{ player.exploitation }} の資源を採取しました．<br>
        全員で {{ group.total_exploitation }} の資源を採取しました．<br>
        <br>
        共有林に {{ group.current_pool }} の資源があります．<br>
        あなたは {{ player.resource }} の資源を持っています．<br>

        次の選択肢をプレーヤー間で相談してください

        {% chat nickname=nickname %}

        <style>
            .otree-chat__messages {
                height: 400px;
            }
            .otree-chat__nickname {
                color: #0000CD;
                font-weight: bold;
            }
            .otree-chat__btn-send{
                color: #00FFFF;
                font-weight: bold;
            }
        </style>

        {% next_button %}
    </p>


   <div id="container4"></div>
    <script src= "{% static 'resource_reproduction/ChartCurrentPool.js' %}"></script>
</body>

{% endblock %}

{% comment %}
    <div id="container2"></div>
    <script src= "{% static 'resource_reproduction/ChartResource.js' %}"></script>
{% endcomment %}
